/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: #f4e2c1;
    color: #333;
}


/* Page Layout */
header {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #6a6060;
    color: white;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border: 2px solid black;
}

table th,
table td {
    padding: 12px;
    border: 1px solid black;
    text-align: left;
}

table th {
    background-color: #6a6060;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: rgb(106, 96, 96);
    color: white;
    text-align: center;
    padding: 15px 0;
}

.email,
.contact {
    margin-bottom: 10px;
}

.email {
    text-align: center;
    color: black;
}
.contact{
    color: black;
    margin-top: 7px;
}

